body,
html {
    background-color: #110429;
}

.nav {
    display: flex;
}

#logo-nav {
    padding: 3px;
    margin: 2%;
    margin-left: 8%;
    margin-right: 1%;
}

.div1 {
    width: 40%;
    display: grid;
    place-items: center;
    margin: auto;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#mainimg:hover {
    transform: scale(1.1);
}

.text {
    text-align: center;
    margin: 2%;
    margin-bottom: 0;
    color: white;
    font-family: 'Montserrat alternates', sans-serif;
    border: 2%;
    border-bottom: 0;
    padding-top: 3px;
}

#msg1,#msg2,#msg3 {
    color: #110429;
    font-weight: bolder;
    margin: 1% 4%;
    padding: 0.3% 2%;
    padding: 2px;
    background-color: rgb(218, 62, 140);
    border-radius: 15px;
    padding: 0.5% 2%;
}



#text1,#text2,#text3 {
    /* margin-top: 1%; */
    font-size: x-large;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    padding: 0 2%;
}
#visible{
    opacity: 0;
}
[data-ca3_icon]::before {
    font-weight: bold;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor: pointer;
    height: 60px;
    width: 80px;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    color: #fff;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}

.btn {
    background-color: rgb(218, 62, 140);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3%;
  }

  #btn {
    display: grid;
    justify-items: center;
    text-justify: center;
    text-align: center;
  }

  .btn:hover {
    color: rgb(218, 62, 140);
    background-color: #110429;}
/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}

@-moz-keyframes ca3_fade_move_down {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0, 20px);
        opacity: 0;
    }
}

@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}